.taskParent{
    display: inline-flex;
    align-items: flex-end;
    /* justify-content: center; */
    width: 100%;
}

.btn-warning{
    background-color: #ffc108;
    color: #ffffff;
}

.btn-danger{
    background-color: #dc3645;
    color: #ffffff;
}

.btn-primary{
    background-color: #0e6ffd;
    color: #ffffff;
}

.btn-secondary{
    background-color: #6d757d;
    color: #ffffff;
}